@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root{
    --title-size: 48px;
    --subtitle-size: 36px;
    --text-size: 20px;
    --small-text: 16px;

    --section-gap: 5rem;
    --content-gap: 2rem;

    --text-line-height: 1.6;
}

@media (max-width: 768px){

    :root{
        --title-size: 32px;
        --subtitle-size: 28px;
        --text-size: 16px;
        --small-text: 14px;

        --section-gap: 3rem;
        --content-gap: 1.5rem;
    }

}